
.book-page-wrapper {
    padding: 15px 0px;
}


.book-page-pagination {
    height:25px;
    background-color: #EBEBEB;
}

.book-description {
    display:flex;
    margin:20px 0px;
}

.book-description-img {
    background-color: #EBEBEB;
    padding:20px;
}

.book-description-info {
    margin:10px 0px 10px 30px;
    text-align:left;
}

.book-description-info p{
    margin:0px;    
    font-size: 14px;
    line-height:20px;
}

.book-description-text{
    text-align: justify;
    padding:20px 5px;
}

.book-price p{
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0px;
}




/* Стиль вкладок */
.book-page-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding:5px;
  }
  
  /* Стиль кнопок внутри вкладок */
  .book-page-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin:0px;
  }
  
  /* Изменение цвета фона кнопок при наведении курсора мыши */
  .book-page-tab button:hover {
    background-color: #ddd;
 }



.book-description-reviews {
  display:flex;
  padding:10px 0px;
 
}
h2 {
  margin:0px;  
}

.book-description-reviews-post {
    text-align: left;
}

.book-description-reviews-form {
  margin-right: 50px;
  background-color: #EBEBEB;
}

.book-description-reviews-post-icon {
  color:#23B4CA;
}