
.home-page-books {
    display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding:15px 0px;
}

.home-page-books-title {
    display:flex;   
    background-color:#EBEBEB;   
    height:40px;    
    color: #23B4CA;
    font-size: 25px;
}
.home-page-books-title p{
    font-size: 25px;
    margin:0px;
    padding:0px 15px;
}

.home-page-books-title img{
    background-color: #23B4CA;    
    width:50px;
    height:40px; 
}

.home-page-text-close {
    text-align: justify;
    height:80px;
    overflow: hidden;
}

.home-page-text-open {
    text-align: justify;
    height:100%;    
}
.home-page-slider {   
    margin:15px 0px;
    border:1px solid black;
}
@media all and (max-width:1250px) {
    .home-page-wrapper {
        padding:0px 15px;
    }
   
}
