
.book-item-wrapper {     
    width:23%;
    margin:0.8%;
    border:1px solid #2B2B2B;
}
.book-item-img img{
    width:100%;
}
.book-item-wrapper p{     
   padding:0px;
   margin:0px;
}

.book-item-descr {
    background-color: #F1F1F1;
    border-radius: 5px;    
}

.book-item-descr-title {
    min-height: 60px;    
}

.book-item-descr-title a{
    text-decoration: none;  
    color:#2B2B2B;  
}

.book-item-descr-price {
    font-weight: bold;
    font-size: 20px;
}
