form {
  text-align: left;
  padding: 50px; 
}

form div {
  margin: 15px 0px;
}

.authorization-modal {
  color:#000;
  font-size: 20px;
  display: block;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 100px;
  width: 40%;
  height: 70%;
  overflow: auto;  
  background-color: rgb(35, 180, 202, 0.8);
  padding-top: 20px;
  border-radius: 5px;  
}

.authorization-modal h2{
  margin:0px;  
}
.authorization-modal p{
  margin:0px;  
}




/* Кнопка закрытия */
.authorization-modal-close {
  /* Расположите его в правом верхнем углу за пределами модели */
  position: absolute;
  right: 450px;
  top:100px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  z-index: 2;
}


.authorization-modal-close:hover,
.authorization-modal-close:focus {
  color: red;
  cursor: pointer;
}
